*{
    box-sizing: border-box;
}
body{
    background-color: hsl(240, 73%, 65%);
    display: flex;
   font-size: 12px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    width: 850px;
    height: 500px;
    border-radius: 20px;
    margin: auto;
    margin-top: 85px;
}

.images{
    display: flex;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: 100%;
    overflow:hidden;
}

#wonline{
    position:relative;
    margin-left: -40px;
    width: 100%;
}
#box{
    position: fixed;
    margin-left: -90px;
    margin-top: 100px;
    height: 150px;
}
.questions{
    text-align: left;
    margin-left: 70px;
}
.q1,.q2,.q3,.q4,.q5{
   margin-bottom: 20px;
   border-bottom: 1px solid rgb(212, 208, 208);
   width: 80%;
}

#icon-arrow-down{
    margin-left: 70px;
}
#icon-arrow-down:hover{
    cursor:pointer;
}
#icon-arrow-down:active{
    cursor:pointer;
    opacity: 0.5;
}

#iconStorage{
    transform: scale(-1);
    margin-left: 60px;
}
#iconStorage:hover{
    cursor:pointer;
}
#iconStorage:active{
    cursor:pointer;
    opacity: 0.5;
}
#iconPassword{
    margin-left: 119px;
}
#iconPassword:hover{
    cursor:pointer;
}
#iconPassword:active{
    cursor:pointer;
    opacity: 0.5;
}
#iconSubscription{
    margin-left: 100px;
}
#iconSubscription:hover{
    cursor:pointer;
}
#iconSubscription:active{
    cursor:pointer;
    opacity: 0.5;
}
#iconSupport{
    margin-left: 95px;
}
#iconSupport:hover{
    cursor:pointer;
}
#iconSupport:active{
    cursor:pointer;
    opacity: 0.5;
}
#Ans2{
    width: 80%;
    margin-left: 5px;
    color: rgb(133, 130, 130);
}